# #! /usr/bin/env zsh

# List all functions
function listFunctions() {
  echo "touch2"
  echo "mkcd"
  echo "cdf"
  echo "count_gcloud_instances"
  echo "list_fzf_commands"
  echo "chrome"
  echo "open_sites"
  echo "chtsht"
}

FUNCTIONS_DIR_PARENT=$(dirname $(readlink -f "$0"))

chmod -R +x ${FUNCTIONS_DIR_PARENT}/scripts/

function touch2() { mkdir -p "$(dirname "$1")" && touch "$1"; }

function mkcd() {
  last=$(eval "echo \$$#")
  if [ ! -n "$last" ]; then
    echo "Enter a directory name"
  elif [ -d $last ]; then
    echo "\`$last' already exists"
  else
    mkdir $@ && cd $last
  fi
}

function cdf() {
  cd $(find . -type d -name node_modules -prune -o -name .git -prune -o -name Library -prune -o -type d -print | fzf)
}

function count_gcloud_instances() {
  $FUNCTIONS_DIR_PARENT/scripts/count-gcloud-instances.sh
}

function chrome() {
  echo "hi"
  cd ~
  open -a "Google Chrome" "http://$1"
}

function chtsht() {
  $FUNCTIONS_DIR_PARENT/scripts/cheatsheet.sh
}
