# #! /usr/bin/env zsh

# List all functions
function listFunctions() {
  echo "touch2"
  echo "mkcd"
  echo "cdf"
  echo "count_gcloud_instances"
  echo "list_fzf_commands"
  echo "chrome"
  echo "open_sites"
}

chmod +x ${HOME}/dotfiles/bash_scripts/count-gcloud-instances.sh
chmod +x ${HOME}/dotfiles/bash_scripts/list-fzf-commands.sh

function precmd() {
  print $'\n'
}

function preexec() {
  timer=${timer:-$SECONDS}
}

function touch2() { mkdir -p "$(dirname "$1")" && touch "$1"; }

function mkcd() {
  last=$(eval "echo \$$#")
  if [ ! -n "$last" ]; then
    echo "Enter a directory name"
  elif [ -d $last ]; then
    echo "\`$last' already exists"
  else
    mkdir $@ && cd $last
  fi
}

function cdf() {
  cd $(find . -type d -name node_modules -prune -o -name .git -prune -o -name Library -prune -o -type d -print | fzf)
}

function count_gcloud_instances() {
  ./bash_scripts/count-gcloud-instances.sh
}

function list_fzf_commands() {
  ./bash_scripts/list-fzf-commands.sh
}

function open_sites() {
  ~/dotfiles/bash_scripts/open_sites.sh
}

function chrome() {
  echo "hi"
  cd ~
  open -a "Google Chrome" "http://$1"
}
