# #! /usr/bin/env zsh

FUNCTIONS_DIR=$(dirname $(readlink -f "$0"))
DOTFILES_DIR=$(dirname $FUNCTIONS_DIR)

# List all functions
function listFunctions() {
  echo "listAliases = List all aliases"
  echo "addCardsFromFile = Create CSV for importing into Anki from text file"
  echo "cdf = FuzzyFind folder from pattern. Excludes .vola, node_modules, .git, Library, Music, .local, .docker, Pictures"
  echo "chrome = Open Chrome with URL"
  echo "chtsht = Open cheatsheet"
  echo "cj = Fuzzy Open directory in VSCode"
  echo "count_gcloud_instances = Count GCloud instances"
  echo "cursorf = Fuzzy Open directory in VSCode"
  echo "mkcd = Make directory and cd into it"
  echo "onlyYAMLKeys = Returns YAML structure without the values from a given file or stdin"
  echo "touch2 = Create file and directory if they don't exist"
  echo "vwti = Open ignoreWebtoonList.js in NVim"
  echo "vwtr = Open currentlyReadingList.js in NVim"
  echo "wtIgnore = Add WT to ignoreWebtoonList.js"
  echo "wtRead = Add WT to currentlyReadingList.js"
  echo "zsh_remote = Minimal ZSH config for remote terminal"
}

chmod -R +x ${DOTFILES_DIR}/scripts/

function touch2() { mkdir -p "$(dirname "$1")" && touch "$1"; }

function mkcd() {
  local last=$(eval "echo \$$#")
  if [ ! -n "$last" ]; then
    echo "Enter a directory name"
  elif [ -d $last ]; then
    echo "\`$last' already exists"
  else
    mkdir $@ && cd $last
  fi
}

function cdf() {
  cd $(find . -name .volta -prune -o -name node_modules -prune -o -name .terraform -prune -o -name .git -prune -o -name Library -prune -o -name Music -prune -o -name .local -prune -o -name .docker -prune -o -name Pictures -prune -o -type d -print | grep -v "Operation not permitted" | fzf)
}

function cj() {
  local CURR_DIR=$(pwd)
  if [[ "$1" == "." || "$1" == ".." ]]; then
    code .
  else
    j $1
    code $(pwd)
  fi
  cd $CURR_DIR
}

function cursorf() {
  local CURR_DIR=$(pwd)
  if [[ "$1" == "." || "$1" == ".." ]]; then
    code .
  else
    j $1
    cursor $(pwd)
  fi
  cd $CURR_DIR
}

function onlyYAMLKeys() {
  # if passed input is a string or a file
  if [ ! -t 0 ]; then
    local input=$(cat)
    echo "$input" | sed 's/: .*/:/' | yq
    return
    # if passed input is an argument for help
  elif [ -n "$1" ]; then
    if [ "$1" = "--help" ] || [ "$1" = "-h" ]; then
      echo "Returns YAML structure without the values from a given file or stdin"
      echo "Formats the output using yq"
      echo "Usage: onlyYAMLKeys <file>|<YAML string>"
      echo "  cat ~/.kube/config | onlyYAMLKeys"
      echo "  onlyYAMLKeys ~/.kube/config"
      echo "  onlyYAMLKeys --help"
      return
    fi
    echo $1 | sed 's/: .*/:/' | yq
    return
  else
    echo "No input is provided"

    echo "\nHelp for onlyYAMLKeys"
    echo "Returns YAML structure without the values from a given file or stdin"
    echo "Formats the output using yq"
    echo "Usage: onlyYAMLKeys <file>|<YAML string>"
    echo "  cat ~/.kube/config | onlyYAMLKeys"
    echo "  onlyYAMLKeys ~/.kube/config"
    echo "  onlyYAMLKeys --help"
    return
  fi
}

function count_gcloud_instances() {
  $HOME/scripts/count-gcloud-instances.sh
}

function zsh_remote() {
  curl -s https://gist.githubusercontent.com/nparkhe83/e34d4ab0ec66d6369131db8d8f3d8585/raw/9f52233422593685fe12477f6821aec7a057aff3/ZSh-for-remote.sh | pbcopy
  echo 'Copied Remote Script to Clipboard'
}

function chrome() {
  echo "hi"
  cd ~
  open -a "Google Chrome" "http://$1"
}

function chtsht() {
  $HOME/scripts/cheatsheet.sh
}

function wtAddToFile() {
  local File="$HOME/Desktop/work/Programming/personal-projects/chrome-extension/SiteCleaner/sites/others/webtoon/$2"

  # remove leading and trailing spaces in input
  local input=$(echo "$1" | sed 's/^[[:space:]]*//;s/[[:space:]]*$//')

  local start_pattern=$3
  local end_pattern="].map(standardiseString);"

  # Get the JS Array from the file
  local wTArray=$(sed -n "/${start_pattern}/,/${end_pattern}/p" "${File}")

  # Remove JS syntax from the JS Array and only keep the WT names
  local wTList=$(echo "$wTArray" | sed -e '1s/.*\[//' -e '$s/\].*//')

  # Add new item to list
  local appendedWTList=$(echo "$wTList" | cat && echo "\"$input\",")

  # Remove leading and trailing spaces from each element in the new list
  local normalisedAppendedWTList=$(echo "$appendedWTList" | awk '{$1=$1; print}' | sort -u)

  # Remove empty lines from the new list
  local newWTList=$(echo "$normalisedAppendedWTList" | sed '/^[[:space:]]*$/d')

  # Reconstruct the JS Array
  echo $newWTList | sed -e "1s/^/$start_pattern\n/" >temp.js
  echo "$end_pattern" >>temp.js

  # Replace the original file with the new one
  mv temp.js $File

  prettier $File --write $File 1>/dev/null
}

function removeFromFile() {
  lineToBeRemovedString=$1

  local File="$HOME/Desktop/work/Programming/personal-projects/chrome-extension/SiteCleaner/sites/others/webtoon/$2"

  sed -i "/\"$lineToBeRemovedString\"/d" $File
}

function wtIgnore() {
  local input=$*
  local appendFile="ignoreWebtoonList.js"
  local removeFromFile="currentlyReadingList.js"
  local start_pattern="const readOrIgnoreWebtoons = \["

  wtAddToFile $input $appendFile $start_pattern

  # Remove the same from the Read list
  removeFromFile $input $removeFromFile
}

function wtRead() {
  local input=$*
  local appendFile="currentlyReadingList.js"
  local removeFromFile="ignoreWebtoonList.js"
  local start_pattern="const currentlyReadingList = \["

  wtAddToFile $input $appendFile $start_pattern

  # Remove the same from the ignore list
  removeFromFile $input $removeFromFile

}

function vwtr() {
  local File="$HOME/Desktop/work/Programming/personal-projects/chrome-extension/SiteCleaner/sites/others/webtoon/currentlyReadingList.js"

  vi $File
}

function vwti() {
  local File="$HOME/Desktop/work/Programming/personal-projects/chrome-extension/SiteCleaner/sites/others/webtoon/ignoreWebtoonList.js"

  vi $File
}

function addCardsFromFile() {
  local relativeInputPath=$1

  local absoluteInputPath=$(realpath $relativeInputPath)

  # Check if realpath succeeded
  if [[ $? -ne 0 ]]; then
    echo "Error: Unable to resolve path: $relativeInputPath"
    return 1
  fi

  echo -e "Absolute path: $absoluteInputPath"

  local CURR_DIR=$(pwd)

  cd ~/Desktop/work/Programming/personal-projects/anki-card-creator/src

  mkdir -p ~/Desktop/AnkiCardsCSV
  touch ~/Desktop/AnkiCardsCSV/output.csv

  ts-node index.ts $absoluteInputPath

  mv $absoluteInputPath ~/Desktop/ankiCards/CSVWorking

  cd $CURR_DIR
}

unset FUNCTIONS_DIR
unset DOTFILES_DIR
