# #! /usr/bin/env zsh

FUNCTIONS_DIR=$(dirname $(readlink -f "$0"))
DOTFILES_DIR=$(dirname $FUNCTIONS_DIR)

# List all functions
function listFunctions() {
  echo "touch2"
  echo "mkcd"
  echo "cdf"
  echo "count_gcloud_instances"
  echo "list_fzf_commands"
  echo "chrome"
  echo "open_sites"
  echo "chtsht"
}

chmod -R +x ${DOTFILES_DIR}/scripts/

function touch2() { mkdir -p "$(dirname "$1")" && touch "$1"; }

function mkcd() {
  last=$(eval "echo \$$#")
  if [ ! -n "$last" ]; then
    echo "Enter a directory name"
  elif [ -d $last ]; then
    echo "\`$last' already exists"
  else
    mkdir $@ && cd $last
  fi
}

function cdf() {
  cd $(find . -name .volta -prune -o -name node_modules -prune -o -name .terraform -prune -o -name .git -prune -o -name Library -prune -o -name Music -prune -o -name .local -prune -o -name .docker -prune -o -name Pictures -prune -o -type d -print | grep -v "Operation not permitted" | fzf)
}

function codef() {
  if [[ "$1" == "." || "$1" == ".." ]]; then
    code .
  else
    j $1
    code $(pwd)
  fi
}

function cursorf() {
  if [[ "$1" == "." || "$1" == ".." ]]; then
    code .
  else
    j $1
    cursor $(pwd)
  fi
}

function onlyYAMLKeys() {
  # if passed input is a string or a file
  if [ ! -t 0 ]; then
    local input=$(cat)
    echo "$input" | sed 's/: .*/:/' | yq
    return
    # if passed input is an argument for help
  elif [ -n "$1" ]; then
    if [ "$1" = "--help" ] || [ "$1" = "-h" ]; then
      echo "Returns YAML structure without the values from a given file or stdin"
      echo "Formats the output using yq"
      echo "Usage: onlyYAMLKeys <file>|<YAML string>"
      echo "  cat ~/.kube/config | onlyYAMLKeys"
      echo "  onlyYAMLKeys ~/.kube/config"
      echo "  onlyYAMLKeys --help"
      return
    fi
    echo $1 | sed 's/: .*/:/' | yq
    return
  else
    cho "No input is provided"

    echo "\nHelp for onlyYAMLKeys"
    echo "Returns YAML structure without the values from a given file or stdin"
    echo "Formats the output using yq"
    echo "Usage: onlyYAMLKeys <file>|<YAML string>"
    echo "  cat ~/.kube/config | onlyYAMLKeys"
    echo "  onlyYAMLKeys ~/.kube/config"
    echo "  onlyYAMLKeys --help"
    return
  fi
}

function count_gcloud_instances() {
  $HOME/scripts/count-gcloud-instances.sh
}

function zsh_remote() {
  curl -s https://gist.githubusercontent.com/nparkhe83/e34d4ab0ec66d6369131db8d8f3d8585/raw/9f52233422593685fe12477f6821aec7a057aff3/ZSh-for-remote.sh | pbcopy
  echo 'Copied Remote Script to Clipboard'
}

function chrome() {
  echo "hi"
  cd ~
  open -a "Google Chrome" "http://$1"
}

function chtsht() {
  $HOME/scripts/cheatsheet.sh
}

wtEdit() {
  File="$HOME/Desktop/work/Programming/personal-projects/chrome-extension/SiteCleaner/sites/others/webtoon/$2"

  # remove leading and trailing spaces in input
  input=$(echo "$1" | sed 's/^[[:space:]]*//;s/[[:space:]]*$//')
  # echo $input
  # return

  start_pattern=$3
  end_pattern="].map(standardiseString);"

  # Get the JS Array from the file
  wTArray=$(sed -n "/${start_pattern}/,/${end_pattern}/p" "${File}")
  # echo $wTArray

  # Remove JS syntax from the JS Array and only keep the WT names
  wTList=$(echo "$wTArray" | sed -e '1s/.*\[//' -e '$s/\].*//')
  # echo $wTList

  appendedWTList=$(echo "$wTList" | cat && echo "\"$input\",")
  # echo $appendedWTList

  appendedWTList=$(echo "$wTList" | cat && echo "\"$input\",")
  # echo $appendedWTList

  # Remove leading and trailing spaces from each element in the new list
  normalisedAppendedWTList=$(echo "$appendedWTList" | awk '{$1=$1; print}' | sort -u)
  # echo $normalisedAppendedWTList

  # Remove empty lines from the new list
  newWTList=$(echo "$normalisedAppendedWTList" | sed '/^[[:space:]]*$/d')
  # echo 'start' && echo $newWTList && echo 'end'

  # Reconstruct the JS Array
  echo $newWTList | sed -e "1s/^/$start_pattern\n/" >temp.js
  echo "$end_pattern" >>temp.js

  prettier --write temp.js 1>/dev/null
  # cat temp.js

  # Replace the original file with the new one
  mv temp.js $File
  # cat $File
}

function wtIgnore() {
  input=$1
  file="ignoreWebtoonList.js"
  start_pattern="const readOrIgnoreWebtoons = \["

  wtEdit $input $file $start_pattern
}

function wtRead() {
  input=$1
  file="currentlyReadingList.js"
  start_pattern="const currentlyReadingList = \["

  wtEdit $input $file $start_pattern

  # Remove the same from the ignore list
  sed -i "/\"$1\"/d" $HOME/Desktop/work/Programming/personal-projects/chrome-extension/SiteCleaner/sites/others/webtoon/ignoreWebtoonList.js
}

unset FUNCTIONS_DIR
unset DOTFILES_DIR
